* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --color-bg: #0d1117;
    --color-text: rgb(245, 245, 245);
    --color-input: rgb(45, 45, 45);
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.paragraph {
    text-align: center;
}

.align-left {
    display: inline-block;
    text-align: left;
}

.center-text {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

html {
    box-sizing: border-box;
}

html, body {
    margin: 0; 
}

.upper {
    margin-top: 12px;
}

.lower {
    margin-bottom: 12px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
    max-height: 30vh;
    width: auto;
    height: auto;
    border-radius: 32px;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
a {
    color: var(--color-text);
    text-decoration: none;
}

a:visited { 
    color: inherit;
}
  
a:hover { 
    color: lightblue;
}

input[type=text], input[type=password] {
    color: var(--color-text);
}

input[type=text]::placeholder, input[type=password]::placeholder{
    color: gray;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.text-input {
    width: 150px;
    text-align: right;
    margin: 2px;
    margin-right: 8px;
    padding: 3px;
    border-radius: 4px;

    line-height: 20px;
    padding: 5px 10px;
}

.button {
    margin-top: auto;
    margin-bottom: 2px;
    height: 30px;
    appearance: none;
    background-color: #1343ac;
    border: 1px solid rgba(255, 248, 45, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height: 20px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: rgb(108, 168, 296);
}

button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.rss.opacity { filter: opacity(5%); }

input {
    background-color: var(--color-input);
}

/* Styles for viewports wider than 600px */
@media (max-width: 1280px) {
}
